:root {
    --editor-background: #1e1e1e;
    --editor-forground: #d4d4d4;
    --menu-background: #252526;
    --menu-forground: #cccccc;
    --menu-inactive: #2d2d2d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

html {
    display: grid;
    place-items: stretch;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--editor-background);
}

.tabbed-menu-tabbar {
    background-color: var(--menu-background);
}

.tabbed-menu-tabbar>* {
    padding: 0.5em 1em;
    flex: none;
    background: var(--menu-inactive);
    border-right: solid 1px var(--menu-background);
    color: var(--menu-forground);
    min-width: 4rem;
}

.tabbed-menu-tabbar>*[data-tab-focus="focused"] {
    background: var(--editor-background);
}

.tabbed-menu>* {
    overflow: hidden;
}